<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Serie A Goalscorers Quiz</title>
  <link rel="stylesheet" type="text/css" href="/styles.css">
</head>
<body>
  <h1>Serie A Goalscorers Quiz</h1>
  <a href="/quiz">Start quiz</a>
</body>
</html>